.wrapper {
  margin: 1%;
}

.container1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: solid;
  border-width: thin;
}
.container2 {
  flex: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container3 {
  margin-bottom: 10px;
}

.testcolor {
  background-color: orange;
}

.testcolor2 {
  background-color: red;
  align-items: center;
}
